DEBUG=False
SECRET_KEY=replace-this-with-a-long-random-secret
ALLOWED_HOSTS=your-app-name.koyeb.app
CSRF_TRUSTED_ORIGINS=https://your-app-name.koyeb.app
DATABASE_URL=postgresql://neondb_owner:****************@ep-square-lab-an3bvt5z-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_SSL_REQUIRE=True
TIME_ZONE=Asia/Colombo
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@dsprgehmt
