# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
.vercel-venv/

# Environment files
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
media/
staticfiles/
staticfiles_build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
